name: Build
on:
  push:
    branches: [master, main]
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        run: docker buildx build . -o type=tar,dest=image.tar
      - name: Push image to Caasis
        run: |-
          gzip -c image.tar | curl -L --data-binary @- https://api.caasis.cloud/new | gh pr comment --create-if-none --edit-last ${{ github.head_ref }} -F -
        if: ${{ github.head_ref }}
        env:
          GH_TOKEN: ${{ github.token }}
